@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
  color: rgb(255, 255, 255);
  font-family: 'Poppins', sans-serif;
  min-height: 100vh ;
  margin: 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

}

.user-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-box {
  font-family: inherit;
  font-size: 100%;
  background: #333 url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 5px rgb(255, 255, 255);
  box-shadow: 0 0 50px rgb(255, 255, 255);
  color: #fff;
  padding: 10px 32px;
  width: 720px;
  border-radius: 20px;
  transition: all .5s;
  outline: none;
  margin-bottom: 2rem;
  
}

.search-box:focus {
  transition: 0.7s ease;
  background-color: #333;
  border-color: #66CC75;
  box-shadow: 0 0 50px #66cc75
}


.card {
  max-width: 800px;
  background-color: #333;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(255, 255, 255, 0.1);
  padding: 2rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  border-radius: 50%;
  border: 10px solid #555;
  height: 150px;
  width: 150px;
}

.user-info {
  color: #eee;
  margin-left: 1rem;
}

.user-info h2 {
  margin-top: 0;
}

.user-info a{
  text-decoration: none;
}

.user-info ul {
  padding: 10px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  gap: 10px;
}

.user-info ul li {
  display: flex;
  align-items: center;
}

.user-info ul li strong {
  font-size: 0.9rem;
  margin-left: 0.5rem;
}

.created{
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color:#c6ffdd;
}

.repo {
  text-decoration: none;
  color: #0dd3ff;
  background-color: #54565a;
  border-radius: 50px;
  font-size: 0.7rem;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  display: inline-block;
}



@media (max-width: 500px) {
  .card {
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
  }
  .search-box {
    max-width: 350px;
  }
}

